---
import Layout from "../layouts/Layout.astro";
import "@fontsource/press-start-2p";
---

<Layout title="Cave like carving">
  <main>
    <div class="h-screen bg-black">
      <div class="h-full flex items-center justify-center">
        <div class="text-left mx-12 text-3xl text-green-700">
          <h1>SEARCHING FOR FILE...</h1>
          <h1>
            <span class="animate-pulse">FILE NOT FOUND</span>
          </h1>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    font-family: "Press Start 2P";
  }
</style>
