---
import Layout from "../layouts/Layout.astro";
import "@fontsource/press-start-2p";
---

<Layout title="Cave like carving">
  <main>
    <div
      class="h-screen bg-black bg-cover bg-no-repeat bg-fixed bg-center bg-[url('/images/background.jpg')]"
    >
      <div class="h-full flex items-center justify-center">
        <div class="text-left mx-12 text-3xl text-green-800">
          <h1>Awaiting user input...</h1>
          <h1>
            &gt;<span class="animate-pulse">_</span>
          </h1>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    font-family: "Press Start 2P";
  }
</style>
